<section class="sec-aristocrates aristocrates">
    <ul class="aristocrates-slots">
        <li>Aristocrat price is {{aristocrat.price}} and points are {{aristocrat.points}} and img url is {{aristocrat.imgUrl}} and it look like this <img src="{{aristocrat.imgUrl}}" alt="aristocrate"></li>
        <li><img src="" alt="aristocrate"></li>
        <li><img src="" alt="aristocrate"></li>
        <li><img src="" alt="aristocrate"></li>
        <li><img src="" alt="aristocrate"></li>
    </ul>
</section>
