<table class="cards-slots">
    <tbody>
        <tr class="cards-slots_high">
            <td><img src="" alt="card"></td>
            <td><img src="" alt="card"></td>
            <td><img src="" alt="card"></td>
            <td><img src="" alt="card"></td>
        </tr>
        <tr class="cards-slots_medium">
            <td><img src="" alt="card"></td>
            <td><img src="" alt="card"></td>
            <td><img src="" alt="card"></td>
            <td><img src="" alt="card"></td>
        </tr>
        <tr class="cards-slots_low">
            <td><img src="" alt="card"></td>
            <td><img src="" alt="card"></td>
            <td><img src="" alt="card"></td>
            <td><img src="" alt="card"></td>
        </tr>
    </tbody>
</table>
